<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color:pink">
<center>
<form action="" method="post">
 {% csrf_token %}
    <h3>Registration</h3><br>
    <input type="text" name="username" placeholder="UserName"><br>
    <input type="text" name="first_name" placeholder="Enter your first name"><br>
    <input type="text" name="last_name" placeholder="Enter your last name"><br>
    <input type="email" name="email" placeholder="Enter your email"><br>
    <input type="password" name="password" placeholder="Enter your password"><br>
    <input type="password" name="password1" placeholder="Confirm your password"><br>
    <input type="submit">

</form>
</center>
{% for msg in messages %}
<h2>{{msg}}</h2>
{% endfor %}
</body>
</html>